body {
    /*max-height: 433px;
    max-width: 1263px;
    */
    background-image: url(https://www.goodfreephotos.com/albums/united-states/colorado/other-colorado/beautiful-landscape-and-skies-red-cliff-colorado.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px; 
}
img {
    text-align: center;
    width: 100%;
}

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}