body {
}


/*THINGS i ADDED*/

#uppercase {
        text-transform: uppercase;
        letter-spacing: 20px;
}
#removedate {
        text-transform: uppercase;
}
@media (min-width: 1200px) {
            .container {
        min-width: 1600px;
        }
}
#forecastBackground{
    background-color: black;
    opacity: .5;

}